table {
    font-size: 50px;
    margin-left: 200gitpx;
    border-spacing: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td{
    width: auto;
    padding: 50px;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
a {
    color: aliceblue;
}

header {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

body{
    background-image: url(./img/3d-background-texture-geometric-shapes-pattern-illustration-3840x2160-4549.jpg);
}