table {
    font-size: 50px;
    margin-left: 280px;
    border-spacing: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td{
    width: auto;
    padding: 50px;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
a {
    color: aliceblue;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 80px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 100px;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

details{
    margin-left: 37%;
    font-size: x-large;
    color: aliceblue;
    display: inline;
}

details:hover{
    cursor:pointer;
}